* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
      format("truetype"),
    url(./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf)
      format("truetype");
}

:root {
  --background-color: #373737;
  --container-color: #555555;
  --button-color: #818181;
  --accent-color: #a1a1a1;
  --text-color: #c0c0c0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  padding: 20px;
}

h1 {
  color: #9146ff;
}

#status {
  margin: 10px 0;
  font-weight: bold;
}

.box {
  background: var(--container-color);
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}

button i {
  margin-right: 8px;
  font-size: 16px;
}

#status i {
  margin-right: 6px;
}

button {
  background: #9146ff;
  border: none;
  padding: 10px 20px;
  color: var(--text-color);
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

pre {
  background: #000;
  padding: 10px;
  border-radius: 6px;
  color: #0f0;
  font-size: 13px;
  overflow-y: auto;
  height: 150px;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 15px;
  color: #9146ff;
  font-size: 1rem;
  opacity: 0.7;
  font-weight: 500;
  pointer-events: none;
  user-select: none;
}
